@charset "UTF-8";
/* Apparition menu */
@-webkit-keyframes transition2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 70px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes transition2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 70px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.liste {
  /* Fin apparition menu */
  /* Icon validation apparition */
  /* Fin Icon validation apparition */
}
.liste .entrees {
  -webkit-animation: transition2 2s ease-in-out 1s forwards;
          animation: transition2 2s ease-in-out 1s forwards;
  opacity: 0;
}
.liste .plats {
  -webkit-animation: transition2 2.5s ease-in-out 1.2s forwards;
          animation: transition2 2.5s ease-in-out 1.2s forwards;
  opacity: 0;
}
.liste .desserts {
  -webkit-animation: transition2 3s ease-in-out 1.4s forwards;
          animation: transition2 3s ease-in-out 1.4s forwards;
  opacity: 0;
}
.liste .entrees:hover .box-contenu, .liste .desserts:hover .box-contenu, .liste .plats:hover .box-contenu {
  /* on change la width du block avec les infos sur le hover */
  transition: 0.5s ease 0s;
  width: 100%;
}
.liste .entrees:hover .info .circle, .liste .desserts:hover .info .circle, .liste .plats:hover .info .circle {
  /* on change la position du cercle à 0 pour qu'il soit dans le block avec une transition pour que ce soit smooth */
  right: 0%;
  transition: 0.5s ease 0s;
}
.liste .entrees:hover .info .circle i, .liste .desserts:hover .info .circle i, .liste .plats:hover .info .circle i {
  /* animation de rotation sur le hover de block */
  transition-delay: 0.2s;
  transform: rotate(-360deg);
}
.liste .entrees .circle i, .liste .desserts .circle i, .liste .plats .circle i {
  /* pour revenir à la position initial quand on est plus sur le hover */
  transition: transform 0.5s ease 0s;
  color: white;
}

/* Animation Ecrant flouté */
@-webkit-keyframes loading {
  0% {
    filter: blur(50px);
    opacity: 0;
  }
  30% {
    filter: blur(30px);
    opacity: 1;
  }
  60% {
    filter: blur(10px);
    opacity: 1;
  }
  90% {
    filter: blur(5px);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    filter: blur(50px);
    opacity: 0;
  }
  30% {
    filter: blur(30px);
    opacity: 1;
  }
  60% {
    filter: blur(10px);
    opacity: 1;
  }
  90% {
    filter: blur(5px);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.loding-body {
  opacity: 0;
  -webkit-animation: loading 3s ease-in-out 0s forwards;
          animation: loading 3s ease-in-out 0s forwards;
}

/* Animation ball */
@-webkit-keyframes spinner-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes spinner-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loading {
  -webkit-animation: spinner-loading 3s ease-in-out 0s forwards;
          animation: spinner-loading 3s ease-in-out 0s forwards;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.loading .spinner {
  display: flex;
  text-align: center;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.loading .spinner .contener_ball {
  height: 115px;
  overflow: hidden;
  display: block;
  margin-right: 475px;
  margin-left: 475px;
}
.loading .spinner .contener_ball .ball_bleu {
  border-radius: 30px;
  width: 30px;
  -webkit-animation: anim 1s infinite ease;
  animation: anim 1s infinite ease;
  -webkit-animation-iteration-count: 4.5;
          animation-iteration-count: 4.5;
}
.loading .spinner .ombre_bleu {
  border-radius: 30px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.767);
  box-shadow: 1px 1px 8px #4d4d4d;
  -webkit-animation: anim_ombre 1s infinite ease;
  animation: anim_ombre 1s infinite ease;
  -webkit-animation-iteration-count: 4.5;
          animation-iteration-count: 4.5;
}

@-webkit-keyframes anim {
  0% {
    height: 30px;
    margin-top: 0px;
    background-color: #FF79DA;
  }
  25% {
    height: 15px;
    margin-top: 100px;
    background-color: #9356DC;
  }
  100% {
    height: 30px;
    margin-top: 0px;
    background-color: #FF79DA;
  }
}
@-webkit-keyframes anim_ombre {
  0% {
    width: 90px;
    height: 2px;
  }
  25% {
    width: 30px;
    height: 2px;
  }
  100% {
    width: 90px;
    height: 2px;
  }
}
@keyframes anim {
  0% {
    height: 30px;
    margin-top: 0px;
    background-color: #FF79DA;
  }
  25% {
    height: 15px;
    margin-top: 100px;
    background-color: #9356DC;
  }
  100% {
    height: 30px;
    margin-top: 0px;
    background-color: #FF79DA;
  }
}
@keyframes anim_ombre {
  0% {
    width: 90px;
    height: 2px;
  }
  25% {
    width: 30px;
    height: 2px;
  }
  100% {
    width: 90px;
    height: 2px;
  }
}
/* Fin animation ball */
/* Animation Coeur fondu */
@-webkit-keyframes coeur {
  0% {
    color: #6c06e9;
    opacity: 0;
  }
  20% {
    color: #7620df;
    opacity: 0.5;
  }
  60% {
    color: #843add;
    opacity: 1;
  }
  100% {
    color: #9356DC;
    opacity: 1;
  }
}
@keyframes coeur {
  0% {
    color: #6c06e9;
    opacity: 0;
  }
  20% {
    color: #7620df;
    opacity: 0.5;
  }
  60% {
    color: #843add;
    opacity: 1;
  }
  100% {
    color: #9356DC;
    opacity: 1;
  }
}
/* Fin animation Coeur fondu */
/* Animation fond couleur page index */
@-webkit-keyframes box-color {
  0% {
    background: linear-gradient(to bottom right, #FF79DA, #945cd8);
  }
  20% {
    background: linear-gradient(to bottom right, #FF79DA, #8b48dd);
  }
  40% {
    background: linear-gradient(to bottom right, #FF79DA, #8b47df);
  }
  60% {
    background: linear-gradient(to bottom right, #FF79DA, #8037da);
  }
  100% {
    background: linear-gradient(to bottom right, #FF79DA, #7d32da);
  }
}
@keyframes box-color {
  0% {
    background: linear-gradient(to bottom right, #FF79DA, #945cd8);
  }
  20% {
    background: linear-gradient(to bottom right, #FF79DA, #8b48dd);
  }
  40% {
    background: linear-gradient(to bottom right, #FF79DA, #8b47df);
  }
  60% {
    background: linear-gradient(to bottom right, #FF79DA, #8037da);
  }
  100% {
    background: linear-gradient(to bottom right, #FF79DA, #7d32da);
  }
}
/* Fin animation fond couleur page index */
/* Fin ANIMATION */
body {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}

h1 {
  font-family: "Shrikhand", cursive;
  display: block;
  padding: 16px;
  font-size: xxx-large;
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.37);
}

header .logo-retour {
  position: absolute;
  font-size: 40px;
  margin: 30px;
}
header .logo-retour i:hover {
  color: #9356DC;
}

footer {
  display: block;
  padding: 16px;
  margin: auto;
  color: white;
  background-color: rgb(53, 53, 53);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.37);
}
footer .titre-footer {
  font-family: "Shrikhand", cursive;
  margin: 30px;
  font-size: xx-large;
}
footer .liste-footer {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 25px;
}
footer .liste-footer .contenu_icon_texte .icon-footer {
  display: inline-block;
  position: absolute;
  font-size: 23px;
  padding: 8px;
}
footer .liste-footer .contenu_icon_texte:hover {
  color: #9356DC;
}
footer .liste-footer .texte-marge, footer .liste-footer .texte-seul {
  font-size: 28px;
  margin: 10px;
  display: block;
  padding-left: 40px;
}
footer .texte-seul:hover {
  color: #9356DC;
}

.menu-haut {
  display: block;
  text-align: center;
  padding: 10px;
  margin: auto;
  background-color: rgb(249, 249, 249);
}
.menu-haut i {
  display: inline-block;
  padding: 20px;
  font-size: 25px;
}
.menu-haut h4 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 5px;
  font-size: 35px;
  font-weight: bold;
}

.menu-haut2 {
  display: block;
  text-align: center;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
}
.menu-haut2 h3, .menu-haut2 .menu-haut2-texte, .menu-haut2 .explore {
  font-family: "Roboto", sans-serif;
}
.menu-haut2 h3, .menu-haut2 .menu-haut2-texte {
  padding: 5px;
}
.menu-haut2 .menu-haut2-texte {
  font-size: 35px;
}
.menu-haut2 h3 {
  font-weight: bold;
  font-size: 37px;
}
.menu-haut2 .explore {
  border-radius: 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: 25px;
  padding: 18px;
  color: white;
  display: inline-block;
  font-size: 30px;
}
.menu-haut2 .explore:hover {
  background: linear-gradient(to bottom right, #fa81d8, #b274ff);
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.fonctionnement {
  display: block;
  padding: 10px;
  margin: auto;
  margin-bottom: 60px;
}
.fonctionnement h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}
.fonctionnement .liste-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fonctionnement .liste-box .box {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  border-radius: 30px;
  display: block;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.37);
  padding: 30px 40px;
  margin: 0 auto 40px;
  position: relative;
  width: 85%;
}
.fonctionnement .liste-box .box:hover {
  -webkit-animation: box-color 6s ease-in-out 0s forwards;
          animation: box-color 6s ease-in-out 0s forwards;
}
.fonctionnement .liste-box .box:hover p {
  color: #7400ff;
}
.fonctionnement .liste-box .box:hover i {
  color: #7400ff;
}
@media screen and (min-width: 992px) {
  .fonctionnement .liste-box .box {
    width: 25%;
    margin: 40px 0;
    font-size: 25px;
  }
}
@media screen and (max-width: 1308px) {
  .fonctionnement .liste-box .box {
    font-size: 18px;
  }
}
@media screen and (max-width: 990px) {
  .fonctionnement .liste-box .box {
    font-size: 25px;
  }
}
.fonctionnement .liste-box .box .number {
  display: block;
  position: absolute;
  border-radius: 100%;
  background-color: #9356DC;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 25px;
  width: 30px;
  height: 30px;
}
@media screen and (max-device-width: 2600px) {
  .fonctionnement .liste-box .box .number {
    padding: 9px;
    left: -15px;
    top: 45px;
  }
}
@media screen and (max-width: 1308px) {
  .fonctionnement .liste-box .box .number {
    padding: 5px;
    top: 39px;
  }
}
@media screen and (max-device-width: 990px) {
  .fonctionnement .liste-box .box .number {
    padding: 20px;
    left: -24px;
  }
}
.fonctionnement .liste-box .box i {
  display: inline-block;
  margin-right: 94px;
  margin-left: 60px;
  color: black;
}
@media screen and (max-width: 1842px) {
  .fonctionnement .liste-box .box i {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 990px) {
  .fonctionnement .liste-box .box i {
    margin-right: 94px;
    margin-left: 60px;
  }
}
.fonctionnement .liste-box .box p {
  display: inline-block;
  color: black;
}

.restaurants {
  display: block;
  margin: 10px;
}
.restaurants .box-restaurant {
  display: grid;
  gap: 35px 2em;
  margin-top: 25px;
  margin-bottom: 160px;
  justify-items: center;
}
@media screen and (max-device-width: 2600px) {
  .restaurants .box-restaurant {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-device-width: 1780px) {
  .restaurants .box-restaurant {
    grid-template-columns: 1fr;
  }
}
.restaurants .box-restaurant .restaurant1, .restaurants .box-restaurant .restaurant2, .restaurants .box-restaurant .restaurant3, .restaurants .box-restaurant .restaurant4 {
  display: block;
  box-shadow: 0px 30px 40px rgba(1, 1, 1, 0.15);
  border-radius: 35px;
}
.restaurants .box-restaurant .restaurant1 a, .restaurants .box-restaurant .restaurant1 a:visited, .restaurants .box-restaurant .restaurant2 a, .restaurants .box-restaurant .restaurant2 a:visited, .restaurants .box-restaurant .restaurant3 a, .restaurants .box-restaurant .restaurant3 a:visited, .restaurants .box-restaurant .restaurant4 a, .restaurants .box-restaurant .restaurant4 a:visited {
  color: rgb(0, 0, 0);
}
.restaurants .box-restaurant .restaurant1:hover, .restaurants .box-restaurant .restaurant2:hover, .restaurants .box-restaurant .restaurant3:hover, .restaurants .box-restaurant .restaurant4:hover {
  color: #9356DC;
}
.restaurants .box-restaurant .restaurant1 .box-img-restaurants, .restaurants .box-restaurant .restaurant2 .box-img-restaurants, .restaurants .box-restaurant .restaurant3 .box-img-restaurants, .restaurants .box-restaurant .restaurant4 .box-img-restaurants {
  position: relative;
}
.restaurants .box-restaurant .restaurant1 .box-img-restaurants .block-new, .restaurants .box-restaurant .restaurant2 .box-img-restaurants .block-new, .restaurants .box-restaurant .restaurant3 .box-img-restaurants .block-new, .restaurants .box-restaurant .restaurant4 .box-img-restaurants .block-new {
  display: block;
  background-color: #99E2D0;
  position: absolute;
  z-index: 1;
  margin: 21px;
  border-radius: 5px;
  right: 0;
}
.restaurants .box-restaurant .restaurant1 .box-img-restaurants .block-new .new, .restaurants .box-restaurant .restaurant2 .box-img-restaurants .block-new .new, .restaurants .box-restaurant .restaurant3 .box-img-restaurants .block-new .new, .restaurants .box-restaurant .restaurant4 .box-img-restaurants .block-new .new {
  font-size: 30px;
  margin: 15px;
  font-family: "Roboto", sans-serif;
}
.restaurants .box-restaurant .restaurant1 .box-img-restaurants img, .restaurants .box-restaurant .restaurant2 .box-img-restaurants img, .restaurants .box-restaurant .restaurant3 .box-img-restaurants img, .restaurants .box-restaurant .restaurant4 .box-img-restaurants img {
  border-radius: 50px 50px 0px 0px;
}
.restaurants .box-restaurant .restaurant1 .box-img-restaurants .img-restaurants, .restaurants .box-restaurant .restaurant2 .box-img-restaurants .img-restaurants, .restaurants .box-restaurant .restaurant3 .box-img-restaurants .img-restaurants, .restaurants .box-restaurant .restaurant4 .box-img-restaurants .img-restaurants {
  height: 450px;
  width: 883px;
  position: relative;
}
.restaurants .box-restaurant .restaurant1 .description, .restaurants .box-restaurant .restaurant2 .description, .restaurants .box-restaurant .restaurant3 .description, .restaurants .box-restaurant .restaurant4 .description {
  display: inline-block;
  padding: 10px;
  margin-left: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 33px;
  white-space: pre-line;
  margin-bottom: 22px;
}
.restaurants .box-restaurant .restaurant1 .logo-heart, .restaurants .box-restaurant .restaurant2 .logo-heart, .restaurants .box-restaurant .restaurant3 .logo-heart, .restaurants .box-restaurant .restaurant4 .logo-heart {
  display: inline-block;
  font-size: 45px;
  margin-right: 22px;
  float: right;
  margin-top: 30px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.restaurants .box-restaurant .restaurant1 .logo-heart i:hover, .restaurants .box-restaurant .restaurant2 .logo-heart i:hover, .restaurants .box-restaurant .restaurant3 .logo-heart i:hover, .restaurants .box-restaurant .restaurant4 .logo-heart i:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-animation: coeur 6s ease-in-out 0s forwards;
          animation: coeur 6s ease-in-out 0s forwards;
}

.bloc-commander {
  display: block;
  text-align: center;
  padding: 50px;
  padding-bottom: 100px;
  position: relative;
  background-color: white;
}
.bloc-commander .commander {
  font-family: "Roboto", sans-serif;
  display: inline;
  text-align: center;
  border-radius: 168px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 21px;
  padding-left: 77px;
  padding-right: 77px;
  color: white;
  font-size: 30px;
}
.bloc-commander .commander:hover {
  background: linear-gradient(to bottom right, #fa81d8, #b274ff);
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.menu-haut-img {
  display: block;
  width: 100%;
}
.menu-haut-img .img-menu-haut {
  height: 657px;
  width: 100%;
  position: absolute;
}

.titre-page-menu {
  display: block;
  border-radius: 85px 85px 0px 0px;
  position: relative;
  background-color: white;
  margin-top: 484px;
}
.titre-page-menu .h2-menu {
  font-family: "Shrikhand", cursive;
  font-size: 55px;
  padding-top: 10px;
  padding-left: 48px;
  margin-bottom: 32px;
  display: inline-block;
  font-weight: initial;
}
.titre-page-menu .logo-heart-menu {
  display: inline-block;
  font-size: 45px;
  float: right;
  margin: 50px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.titre-page-menu .logo-heart-menu i:hover {
  /* color: linear-gradient(to bottom right, #FF79DA, #9356DC); */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-animation: coeur 6s ease-in-out 0s forwards;
          animation: coeur 6s ease-in-out 0s forwards;
}

.block-carte-menu {
  display: block;
  padding: 10px;
  margin: auto;
  position: relative;
  background-color: white;
}
.block-carte-menu .sous-titre-menu {
  font-family: "Roboto", sans-serif;
  margin: 24px;
  padding: 3px;
  font-size: 35px;
  font-style: italic;
  display: inline;
  border-bottom: 4px solid #99E2D0;
}
.block-carte-menu .liste {
  display: block;
  margin-top: 38px;
}
.block-carte-menu .liste .entrees, .block-carte-menu .liste .plats, .block-carte-menu .liste .desserts {
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.37);
  margin: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.block-carte-menu .liste .entrees:hover .circle, .block-carte-menu .liste .plats:hover .circle, .block-carte-menu .liste .desserts:hover .circle {
  width: 300px !important;
  border-radius: 0px 30px 30px 0px;
}
.block-carte-menu .liste .entrees .box-contenu, .block-carte-menu .liste .plats .box-contenu, .block-carte-menu .liste .desserts .box-contenu {
  padding: 17px;
  width: 100%;
  min-width: 0;
}
.block-carte-menu .liste .entrees .box-contenu .titre, .block-carte-menu .liste .plats .box-contenu .titre, .block-carte-menu .liste .desserts .box-contenu .titre {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}
.block-carte-menu .liste .entrees .box-contenu .sous-titre, .block-carte-menu .liste .entrees .box-contenu .prix, .block-carte-menu .liste .plats .box-contenu .sous-titre, .block-carte-menu .liste .plats .box-contenu .prix, .block-carte-menu .liste .desserts .box-contenu .sous-titre, .block-carte-menu .liste .desserts .box-contenu .prix {
  font-size: 28px;
  text-overflow: ellipsis;
}
.block-carte-menu .liste .entrees .info, .block-carte-menu .liste .plats .info, .block-carte-menu .liste .desserts .info {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.block-carte-menu .liste .entrees .info .prix, .block-carte-menu .liste .plats .info .prix, .block-carte-menu .liste .desserts .info .prix {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  position: relative;
  margin: 25px;
}
.block-carte-menu .liste .entrees .info .circle, .block-carte-menu .liste .plats .info .circle, .block-carte-menu .liste .desserts .info .circle {
  /* position absolute à -60px (la taille du block) pour qu'il soit en dehors du block */
  top: 0;
  background-color: #99E2D0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  width: 0;
}/*# sourceMappingURL=style.css.map */