.menu-haut-img {
    display: block;
    width: 100%;
    .img-menu-haut {
        height: 657px;
        width: 100%;
        position: absolute;
    }
}

.titre-page-menu {
    display: block;
    border-radius: 85px 85px 0px 0px;
    position: relative;
    background-color: $white;
    margin-top: 484px;
    .h2-menu {
        font-family: 'Shrikhand', cursive;
        font-size: 55px;
        padding-top: 10px;
        padding-left: 48px;
        margin-bottom: 32px;
        display: inline-block;
        font-weight: initial;
    }
    .logo-heart-menu {
        display: inline-block;
        font-size: 45px;
        float: right;
        margin: 50px;
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        i:hover {
            /* color: linear-gradient(to bottom right, #FF79DA, #9356DC); */
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $black;
            animation: coeur 6s ease-in-out 0s forwards;
        }
    }
}

.block-carte-menu {
    display: block;
    padding: 10px;
    margin: auto;
    position: relative;
    background-color: $white;
    .sous-titre-menu {
        font-family: 'Roboto', sans-serif;
        margin: 24px;
        padding: 3px;
        font-size: 35px;
        font-style: italic;
        display: inline;
        border-bottom: 4px solid $green;
    }
    .liste {
        display: block;
        margin-top: 38px;
        .entrees, .plats, .desserts {
            font-family: 'Roboto', sans-serif;
            border-radius: 30px;
            box-shadow: 0px 10px 30px rgb(0 0 0 / 37%);
            margin: 20px;
            padding: 17px;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            width: 92%;
            display: flex;
            .box-contenu {
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    .titre {
                        font-size: 30px;
                        font-weight: 600;
                        margin-bottom: 5px;
                        @include bold;
                    }
                    .sous-titre, .prix {
                        font-size: 28px;
                    }
                }
                .prix {
                    @include bold;
                }
            }
            .circle {
                /* position absolute à -60px (la taille du block) pour qu'il soit en dehors du block */
                transition: 0.5s ease 0s;
                position: absolute;
                right: -110px;
                top: 0;
                background-color: $green;
                height: 100%;
                width: 110px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: xx-large;
            }
        }
    }
}
