.menu-haut-img {
    display: block;
    width: 100%;
    .img-menu-haut {
        height: 657px;
        width: 100%;
        position: absolute;
    }
}

.titre-page-menu {
    display: block;
    border-radius: 85px 85px 0px 0px;
    position: relative;
    background-color: $white;
    margin-top: 484px;
    .h2-menu {
        font-family: 'Shrikhand', cursive;
        font-size: 55px;
        padding-top: 10px;
        padding-left: 48px;
        margin-bottom: 32px;
        display: inline-block;
        font-weight: initial;
    }
    .logo-heart-menu {
        display: inline-block;
        font-size: 45px;
        float: right;
        margin: 50px;
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        i:hover {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $black;
            animation: coeur 6s ease-in-out 0s forwards;
        }
    }
}

.block-carte-menu {
    display: block;
    padding: 10px;
    margin: auto;
    position: relative;
    background-color: $white;
    .sous-titre-menu {
        font-family: 'Roboto', sans-serif;
        margin: 24px;
        padding: 3px;
        font-size: 35px;
        font-style: italic;
        display: inline;
        border-bottom: 4px solid $green;
    }
    .liste {
        display: block;
        margin-top: 38px;
        .entrees, .plats, .desserts {
            font-family: 'Roboto', sans-serif;
            border-radius: 30px;
            box-shadow: 0px 10px 30px rgb(0 0 0 / 37%);
            margin: 20px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            justify-content: space-between;
             &:hover{
                .circle {
                    width: 300px !important;
					@media screen and (max-width: $desktop) {
						width: 700px !important;
					}
                }
            }
            .box-contenu {
                padding: 17px;
                width: 100%;
                min-width: 0;
                .titre {
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    @include bold;
                }
                .sous-titre, .prix {
                    font-size: 28px;
                    text-overflow: ellipsis;
					white-space: nowrap;
                    overflow: hidden;
                }
            }
            .info {
                display: flex;
                justify-content:flex-end;
                overflow: hidden;
                .prix {
                    @include bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:25%;
                    position: relative;
                    margin: 25px;
					@media screen and (max-width: $desktop) {
						margin-left: 50px !important;
					}
                }
                .circle {
                    top: 0;
                    background-color: $green;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: xx-large;
					border-radius: 0px 30px 30px 0px;
                    width: 0;
                   
                }
            }
        }
    }
}
